.contenedorHabilities{
	width: 700px;
	height: 500px;
	justify-content: center;
}

.row{
	margin: 10px;
	width: 670px;
	height: 460px;
	overflow-y: scroll;
}

.card{
	width: 180px; 
	height: 200px; 
	margin-bottom: 10px;
	border-radius: 50px;
	background-color: #fdffcd;
}

@media (min-width: 52px) and (max-width:1024px){
	.contenedorHabilities{
		width: 500px;
		height: auto;
	}

	.row{
		padding-top: 200px;
		width: 460px;
		align-content: center;
	}

	.card{
		width: 120px;
		height: 150px;
		margin-bottom: 5px;
	}

	.card-title{
		font-size: 14px;
	}

	.card-image{
		width: 50px;
		height: 50px;
	}
}