.image{
	margin-top: 20px;
	margin-bottom: 30px;
	width: 150px; 
	height: 150px;
	border-style: solid;
	border-radius: 50%;
	border-color: #092a09;
}

.contenedorProfile{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #E0ffcd;
}

.location{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedorIcons{
	margin-top: 3px;
	margin-bottom: 4px;
}

.icons{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
