<div class="contenedorAbout">
	<div>
		<h3>Hola, yo soy {{ user }}</h3>
	</div>
	<br>
	<hr class="linea">
	<br>
	<div>
		<p style="font-size: 20px;">Ahora soy Desarrollador Full Stack. Me encuentro con muschas ganas y disposicion por empezar mi primera experiencia en el mundo IT. Con muchas ganas de trabajar y seguir aprendiendo</p>
		<br>
		<div align="center">
			<a 
			class="btn btn-outline-success" 
			href="assets/Carlos-Pacheco-CV.pdf"
			target="_blank"
			download="Carlos-Pacheco-CV.pdf" 
			>Descargar CV</a>
		</div>
	</div>
</div>

